@import "styles/variables.scss";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$available: #89c190;
$selected: #89c190;
$focused: #89c190;
$reserved: #bf351e;
$unavailable: map-get($showtix-colors, grey-3);

.element-pan {
  table {
    //margin-left: -25%;
  }
}

.showtix-tickets {
  .showtix-seats-selection {
    padding: 5px;
    left: 0;
    width: 100%;
    transition: all 0.5s ease;
  }
  &.is-full-screen {
    .showtix-seats-selection {
      position: fixed;
      background: map-get($showtix-colors, primary-2);
      top: 60px;
      bottom: 20px;
      left: 2vw;
      right: 2vw;
      width: auto;
      z-index: 11;
      .container {
        max-width: 100%;
      }
      .element-pan {
        height: 70vh !important;
      }
    }
  }
  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(#000, 0.7);
    z-index: 9;
  }
}

.showtix-seating {
  position: relative;
  overflow: hidden;
  &__full-screen {
    &__button {
      z-index: 10;
      border: none;
      background: none;
      padding: 5px;
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
.showtix-seating-wrapper {
  transform-origin: top center;
  text-align: center;
  //height: 100%;
  //display: flex;
  //align-items: center;
  //justify-content: center;
}
.showtix-slider {
  width: 100%;
}
.rangeslider,
.rangeslider .rangeslider__fill {
  box-shadow: none;
}
.rangeslider .rangeslider__handle {
  background: map-get($showtix-colors, primary-3);
  border: none;
  box-shadow: none;
}
.rangeslider-horizontal .rangeslider__handle:after {
  display: none;
}
.rangeslider-horizontal .rangeslider__fill {
  background: map-get($showtix-colors, primary-3);
}
.value {
  text-align: center;
}

.element-pan {
  background: map-get($showtix-colors, grey-2);
  img,
  table {
    user-select: none;
  }
}

.showtix-legend {
  margin-top: $grid-gutter-width;
  width: 100%;
  &-row {
    display: inline-flex;
    width: 50%;
    align-items: center;
    font-size: 13px;
    .seatCharts-cell {
      width: 22px;
      height: 22px;
      line-height: 22px;
      font-size: 8px;
    }
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}

.seatCharts-container {
  /*min-width: 700px;*/
}

// Seating Chart Seats no clickable due to div covering seats #767
tr {
  .seatCharts-container {
    position: relative;
    user-select: none;
    &.R,
    &.L {
      z-index: 1;
    }
    &.C {
      z-index: 0;
      &.adjust {
        z-index: 1;
      }
    }
  }
}

table {
  img {
    //display: none;
  }
  div {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

/* Table seating chart */
.clickable-seat {
  display: inline-block;
  height: 33px;
  line-height: 33px;
  width: 33px;
  font-size: 13px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid map-get($showtix-colors, grey-1);
  user-select: auto;
  &:hover {
    cursor: pointer;
  }
}

[data-tooltip]:not(.sold) {
  overflow: visible !important;
}
[data-tooltip]:before,
[data-tooltip]:not(.sold):after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 15px;
  margin-left: -80px;
  padding: 7px;
  width: 200px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 26px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:not(.sold):after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -15px;
  width: 0;
  border-top: 15px solid #000;
  border-top: 15px solid hsla(0, 0%, 20%, 0.9);
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:not(.sold):hover:after {
  visibility: visible;
  opacity: 1;
}

// Super hack to replace table image
[src*="round_table_sm_small"] {
  display: block;
  height: 44px;
  width: 44px;
  padding-left: 44px;
  margin: 3px;
  background: map-get($showtix-colors, primary-4);
  border-radius: 50%;
}
table {
  table {
    table {
      table {
        .is-table & {
          margin: 10px;
        }
      }
    }
  }
}

.seatCharts-cell {
  height: 33px;
  width: 33px;
  margin: 3px;
  float: left;
  text-align: center;
  outline: none;
  font-size: 13px;
  line-height: 33px;
  color: map-get($showtix-colors, primary-1);
  user-select: auto;
}

.seatCharts-seat {
  position: relative;
  color: white;
  border-radius: 5px;
  cursor: default;
  font-weight: normal;
  overflow: hidden;
  user-select: auto;
}

.seatCharts-seat:focus {
  border: none;
}

.seatCharts-space {
  background-color: white;
}
.seatCharts-row {
  height: 50px;
}

.seatCharts-row:after {
  clear: both;
}

.seatCharts-seat.selected {
  background-color: $selected;
  animation: glow 1s infinite alternate;
  color: #fff;
}

.seatCharts-seat.focused {
  background-color: $focused;
  border: 1px solid #fff;
}

.seatCharts-seat.available {
  background-color: $available;
  border-radius: 5px;
  color: #000;
  border: 1px solid #000;
}

.seatCharts-seat.unavailable {
  background-color: $unavailable;
  cursor: not-allowed;
  pointer-events: none;
  color: $unavailable;
}

.seatCharts-seat.held {
  /* 	background: url(vip.png); */
  background-color: map-get($showtix-colors, grey-3);
  color: #fff;
}

.seatCharts-seat.sold {
  /* 	background: url(vip.png); */
  background-color: map-get($showtix-colors, primary-2);
  color: rgba(#fff, 1);
  border: 1px solid map-get($showtix-colors, primary-2);

  &:after {
    position: absolute;
    content: "";
    display: block;
    top: -60px;
    left: 0;
    width: 1px;
    height: 120px;
    background: rgba(#fff, 1);
    transform: rotate(-45deg);
  }
}

.seatCharts-seat.reserved {
  /* 	background: url(vip.png); */
  background-color: $reserved;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: $reserved;
}

.seatCharts-seat.empty {
  background-color: #efefef;
  color: #efefef;
  cursor: not-allowed;
  border-style: solid;
  border-width: 1px;
  border: none;
}

.seatCharts-seat.available.wheelchair {
  /* 	background: url(vip.png); */
  background-color: #86dedd;
}

.seatCharts-seat.available.handicap {
  /* 	background: url(vip.png); */
  background-color: #fffc9e;
}

.seatCharts-seat.available.companion {
  /* 	background: url(vip.png); */
  background-color: #bbd9ff;
}

.seatCharts-seat.available.obstructed {
  /* 	background: url(vip.png); */
  background-color: #f4d2ff;
}

.front-indicator {
  width: 175px;
  margin: 5px 32px 15px 32px;
  padding: 10px;
  background-color: map-get($showtix-colors, primary-2);
  text-align: center;
  border-radius: 5px;
  font-family: $font-libre;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}
.wrapper {
  width: 100%;
  text-align: center;
}
.container {
  margin: 0 auto;
  width: 500px;
  text-align: left;
}
.seatCharts-seat {
  color: #ffffff;
  cursor: pointer;
  font-size: 9px;
  text-align: center;
}
.seatCharts-row {
  height: 29px;
  display: table-row-group;
  float: none;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px -5px #aef4af;
  }
  to {
    box-shadow: 0 0 5px 5px #aef4af;
  }
}

.seatCharts-container {
  /*display: table;*/
  float: center;
}

.seatCharts-legend {
  padding-left: 0px;
  position: absolute;
  bottom: 16px;
}

ul.seatCharts-legendList {
  padding-left: 0px;
}

span.seatCharts-legendDescription {
  margin-left: 5px;
  line-height: 30px;
}

.checkout-button {
  display: block;
  margin: 10px 0;
  font-size: 14px;
}

#selected-seats {
  max-height: 90px;
  overflow-y: scroll;
  overflow-x: none;
  width: 170px;
}

.quick-selection-icon {
  border: none;
  background: none;
  padding: 5px;
  img {
    width: 25px;
    height: 25px;
  }
  z-index: 1;
}

div.adjust.colorYellow {
  background-color: #fffcdd;
}
div.adjust.colorGreen {
  background-color: #ddffdb;
}
div.adjust.colorPink {
  background-color: #fff0f0;
}
div.adjust.colorBlue {
  background-color: #f0f1ff;
}
div.adjust.colorOrange {
  background-color: #ffefd2;
}
div.adjust.rotate5R {
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
div.adjust.rotate5L {
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
div.adjust.rotate10R {
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
div.adjust.rotate10L {
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
div.adjust.rotate15R {
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
div.adjust.rotate15L {
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
div.adjust.rotate20R {
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
div.adjust.rotate20L {
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
div.adjust.rotate25R {
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
}
div.adjust.rotate25L {
  -ms-transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
}
div.adjust.rotate30R {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
div.adjust.rotate30L {
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
div.adjust.rotate35R {
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
div.adjust.rotate35L {
  -ms-transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
div.adjust.rotate40R {
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
div.adjust.rotate40L {
  -ms-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
div.adjust.rotate45R {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
div.adjust.rotate45L {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
div.adjust.rotate50R {
  -ms-transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}
div.adjust.rotate50L {
  -ms-transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
div.adjust.rotate55R {
  -ms-transform: rotate(55deg);
  -webkit-transform: rotate(55deg);
  transform: rotate(55deg);
}
div.adjust.rotate55L {
  -ms-transform: rotate(-55deg);
  -webkit-transform: rotate(-55deg);
  transform: rotate(-55deg);
}
div.adjust.rotate60R {
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
div.adjust.rotate60L {
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
div.adjust.rotate65R {
  -ms-transform: rotate(65deg);
  -webkit-transform: rotate(65deg);
  transform: rotate(65deg);
}
div.adjust.rotate65L {
  -ms-transform: rotate(-65deg);
  -webkit-transform: rotate(-65deg);
  transform: rotate(-65deg);
}
div.adjust.rotate70R {
  -ms-transform: rotate(70deg);
  -webkit-transform: rotate(70deg);
  transform: rotate(70deg);
}
div.adjust.rotate70L {
  -ms-transform: rotate(-70deg);
  -webkit-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
div.adjust.rotate75R {
  -ms-transform: rotate(75deg);
  -webkit-transform: rotate(75deg);
  transform: rotate(75deg);
}
div.adjust.rotate75L {
  -ms-transform: rotate(-75deg);
  -webkit-transform: rotate(-75deg);
  transform: rotate(-75deg);
}
div.adjust.rotate80R {
  -ms-transform: rotate(80deg);
  -webkit-transform: rotate(80deg);
  transform: rotate(80deg);
}
div.adjust.rotate80L {
  -ms-transform: rotate(-80deg);
  -webkit-transform: rotate(-80deg);
  transform: rotate(-80deg);
}
div.adjust.rotate85R {
  -ms-transform: rotate(85deg);
  -webkit-transform: rotate(85deg);
  transform: rotate(85deg);
}
div.adjust.rotate85L {
  -ms-transform: rotate(-85deg);
  -webkit-transform: rotate(-85deg);
  transform: rotate(-85deg);
}
div.adjust.rotate90R {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
div.adjust.rotate90L {
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
div.adjust.move10L {
  position: relative;
  left: -10px;
}
div.adjust.move10R {
  position: relative;
  left: 10px;
}
div.adjust.move20L {
  position: relative;
  left: -20px;
}
div.adjust.move20R {
  position: relative;
  left: 20px;
}
div.adjust.move30L {
  position: relative;
  left: -30px;
}
div.adjust.move30R {
  position: relative;
  left: 30px;
}
div.adjust.move40L {
  position: relative;
  left: -40px;
}
div.adjust.move40R {
  position: relative;
  left: 40px;
}
div.adjust.move50L {
  position: relative;
  left: -50px;
}
div.adjust.move50R {
  position: relative;
  left: 50px;
}
div.adjust.move60L {
  position: relative;
  left: -60px;
}
div.adjust.move60R {
  position: relative;
  left: 60px;
}
div.adjust.move70L {
  position: relative;
  left: -70px;
}
div.adjust.move70R {
  position: relative;
  left: 70px;
}
div.adjust.move80L {
  position: relative;
  left: -80px;
}
div.adjust.move80R {
  position: relative;
  left: 80px;
}
div.adjust.move90L {
  position: relative;
  left: -90px;
}
div.adjust.move90R {
  position: relative;
  left: 90px;
}
div.adjust.move10U {
  position: relative;
  top: -10px;
}
div.adjust.move10D {
  position: relative;
  top: 10px;
}
div.adjust.move20U {
  position: relative;
  top: -20px;
}
div.adjust.move20D {
  position: relative;
  top: 20px;
}
div.adjust.move30U {
  position: relative;
  top: -30px;
}
div.adjust.move30D {
  position: relative;
  top: 30px;
}
div.adjust.move40U {
  position: relative;
  top: -40px;
}
div.adjust.move40D {
  position: relative;
  top: 40px;
}
div.adjust.move50U {
  position: relative;
  top: -50px;
}
div.adjust.move50D {
  position: relative;
  top: 50px;
}
div.adjust.move60U {
  position: relative;
  top: -60px;
}
div.adjust.move60D {
  position: relative;
  top: 60px;
}
div.adjust.move70U {
  position: relative;
  top: -70px;
}
div.adjust.move70D {
  position: relative;
  top: 70px;
}
div.adjust.move80U {
  position: relative;
  top: -80px;
}
div.adjust.move80D {
  position: relative;
  top: 80px;
}
div.adjust.move90U {
  position: relative;
  top: -90px;
}
div.adjust.move90D {
  position: relative;
  top: 90px;
}

.rangeslider__handle-label {
  opacity: 0;
}
